@IMPORT url("commons.css");

.menu {
	float: left;
	text-align: center;
	font-weight: bold;
	width: 100%;
	position: relative;
	background-color: #0073AE;
	background: url(../images/menu.png) repeat-x center top;
	margin: 0px 0 5px 0;
	width: 100%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 20px;
}
.menu ul li.nivel1 {
    border-right: 2px solid #0073AE;
    float: left;
    font-size: 13px;
    height: 45px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 125px;
}
.menu ul li.nivel1 a {
    color: #FFFFFF;
    display: block;
    height: 90%;
    padding-top: 5px;
    text-decoration: none;
    width: 100%;
}
.menu ul li.nivel1 a:hover {
    background: url("../images/menu_hover.png") repeat-x scroll center top transparent;
    color: #045C88;
}
.menu ul li.nivel1 ul {
    display: none;
    float: left;
    font-size: 9px;
    margin: 0;
    padding: 0;
    text-align: left;
}
.menu ul li.nivel1:hover ul {
    background-color: #62B4F2;
    border-top: medium none;
    display: block;
    position: absolute;
}

.menu ul li.nivel1 ul li a {
    border-left: 5px solid #045C88;
    border-right: 0 solid #045C88;
    color: #FFFFFF;
    font-size: 12px;
    height: 29px;
    margin: 0;
    padding: 5px 5px 5px 10px;
    text-decoration: none;
    width: 210px;
}
.labelForm{
	font: 13px/22px Helvetica, Arial, sans-serif;
}
.labelFormDetail{
	font: 13px/22px Helvetica, Arial, sans-serif;
	font-weight: bold;
}
.titlePage{
	text-align: center;
}

#titleFormPatient{
	text-align: center;
}

#idTitleList{
	text-align: center;
	font: 15px/22px Helvetica, Arial, sans-serif;
	font-weight: bold;
}
.inputTextStye{
	
}

.formDivFind{
	
}
.error{
	font: 13px/22px Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #DA1515;
}
.success{
	font: 13px/22px Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #21189A;
}

.labelForm{
	font: 13px/22px Helvetica, Arial, sans-serif;
}

.lblmessagesred{
	font: 13px/22px Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #DA1515;
}